 <!-- Topbar Start 
    <div class="container-fluid bg-dark py-3">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                  <div class="d-inline-flex align-items-center">
                      <span class="text-white">|</span>
                      <a class="text-white px-3" href="">Help</a>
                      <span class="text-white">|</span>
                      <a class="text-white pl-3" href="">Support</a>
                  </div>
              </div>
              <div class="col-md-6 text-center text-lg-right">
                  <div class="d-inline-flex align-items-center">
                      <a class="text-white px-3" href="">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a class="text-white px-3" href="">
                          <i class="fab fa-twitter"></i>
                      </a>
                      <a class="text-white px-3" href="">
                          <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a class="text-white px-3" href="">
                          <i class="fab fa-instagram"></i>
                      </a>
                      <a class="text-white pl-3" href="">
                          <i class="fab fa-youtube"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  -->
  <!-- Topbar End -->
  
  
  <!-- Navbar Start -->
  <div class="container-fluid position-relative nav-bar p-0">
      <div class="container position-relative" style="z-index: 9;">
          <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
              <a href="" class="navbar-brand">
                  <h1 class="m-0 display-5 text-white"><span class="text-primary">S</span>ERVICE PLUG</h1>
              </a>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                  <div class="navbar-nav ml-auto py-0">
                      <a routerLink="/home" class="nav-item nav-link">Home</a>
                      <a routerLink="/booking" class="nav-item nav-link active">Book Merchant</a>
                     
                      <!-- <a href="project.html" class="nav-item nav-link">Cancel Booking</a> -->
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Profile</a>
                          <div class="dropdown-menu rounded-0 m-0">
                              <a routerLink="/login" class="dropdown-item">Logout</a>
                              <a routerLink="/profile" class="dropdown-item">Manage Profile</a>
                          </div>
                      </div>
                      <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                  </div>
              </div>
          </nav>
      </div>
  </div>
  <!-- Navbar End -->
  
  
  <!-- Under Nav Start 
  <div class="container-fluid bg-white py-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 text-left mb-3 mb-lg-0">
                  <div class="d-inline-flex text-left">
                      <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                      <div class="d-flex flex-column">
                          <h5>Our Office</h5>
                          <p class="m-0">123 Street, New York, USA</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 text-left text-lg-center mb-3 mb-lg-0">
                  <div class="d-inline-flex text-left">
                      <h1 class="flaticon-email font-weight-normal text-primary m-0 mr-3"></h1>
                      <div class="d-flex flex-column">
                          <h5>Email Us</h5>
                          <p class="m-0">info@example.com</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 text-left text-lg-right mb-3 mb-lg-0">
                  <div class="d-inline-flex text-left">
                      <h1 class="flaticon-telephone font-weight-normal text-primary m-0 mr-3"></h1>
                      <div class="d-flex flex-column">
                          <h5>Call Us</h5>
                          <p class="m-0">+012 345 6789</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  -->
  <br>
  
  <div class="container-fluid bg-secondary py-5">
      <div class="container py-5">
          <div class="row align-items-center py-4">
              <div class="col-md-6 text-center text-md-left">
                  <h1 class="mb-4 mb-md-0 text-primary text-uppercase">Book Merchant</h1>
              </div>
              <div class="col-md-6 text-center text-md-right">
                  <div class="d-inline-flex align-items-center">
                      <a class="btn btn-outline-primary" href="">Home</a>
                      <i class="fas fa-angle-double-right text-primary mx-2"></i>
                      <a class="btn btn-outline-primary disabled" href="">Book Merchant</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 id="title" class="tm-block-title d-inline-block">Search for merchant</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form [formGroup]="form" action="" class="tm-edit-product-form">
                  <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="category">Category of merchant</label>
                      <select class="custom-select tm-select-accountss" id="category"   >
                        <option value="null" selected>Select Category</option>
                        <option value="1">GATE MAKER</option>
                        <option value="2">TILING</option>
                        <option value="3">ROOFING</option>
                        <option value="4">BRICKLAYING</option>
                        <option value="5">CAPENTRY</option>
                        <option value="6">GARDENING</option>
                        <option value="7">PLUMBING</option>
                        <option value="8">PLUSTERING</option>
                      </select>
                         
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="city">Location</label>
                      <input id="autocomplete" name="city" type="text" placeholder="Enter your address" class="form-control validate" data-large-mode="true" 
                      formControlName="location"/>
                    </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="area">Area</label>
                      <input id="locality" name="area" type="text" class="form-control validate" data-large-mode="true"
                      formControlName="area"/>
                    </div>
                  </div>
  
                  <div class="row">
                    <!-- 
                        [(ngModel)]="typelo" 
                        [(ngModel)]="locationname"
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="closingDate">Closing Date</label>
                      <input id="closingDate" name="closingDate" type="date" class="form-control validate" required />
                    </div> -->
                   <!--  <div class="form-group mb-3 col-xs-12 col-sm-12"> < 
                      <label for="startDate">Start Date</label>
                      <input id="startDate" name="startDate" type="date" class="form-control validate"
                        data-large-mode="true" />
                          <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="area">Area</label>
                      <input id="locality" name="area" type="text" class="form-control validate" data-large-mode="true" />
                    </div>
                    </div> -->
                  </div>
  
             
              <br><br>
              <div class="col-12">
                <button id="btnAddProgram" type="button" class="btn btn-primary btn-block text-uppercase" (click)="Searchcity()">Search for Merchant</button>
                  
              </div>
   
  
  
           
  <br>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <section class="brows-job-category">
      <div class="container">
          <!-- Company Searrch Filter Start -->
       
          <!-- Company Searrch Filter End -->
          
           
      
          <div class="item-click">
              <article>
                  <div *ngFor="let met of mercs" class="brows-job-list">
                      <div class="col-md-1 col-sm-2 small-padding">
                          <div class="brows-job-company-img">
                              <a href="job-detail.html"><img src="assets/img/icon-9.png" class="img-responsive" alt="" /></a>
                              <h1>ffff</h1>
                          </div>
                      </div>
                      <div  class="col-md-6 col-sm-5">
                          <div class="brows-job-position">
                            <a routerLink="single/{{met.merchId}}">{{met.merchId}}</a>
                              <a href="job-apply-detail.html"><h2>{{met.merchType}}</h2></a>
                              <h4>{{ met.merchSurname}}</h4>
                              <p>
                                  <span>Google</span><span class="brows-job-sallery"><i class="fa fa-money"></i>$810 - 900</span>
                                 
                              </p>
                              <p>{{met.merchId}}</p>
                              <p>{{met.merchType}}</p>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                          <div class="brows-job-location">
                              <p><i class="fa fa-map-marker"></i> 
                                {{met.merchAddress}}</p>
                          </div>
                      </div>
                     
                  </div>
              </article>
          </div>
          
       
       
          <div class="item-click">
              <article>
                  <div class="brows-job-list">
                      <div class="col-md-1 col-sm-2 small-padding">
                          <div class="brows-job-company-img">
                              <a href="job-detail.html"><img src="assets/img/icon-10.png" class="img-responsive" alt="" /></a>
                              <h1>ffff</h1>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-5">
                          <div class="brows-job-position">
                              <a href="job-apply-detail.html"><h3>BRICKLAYING</h3></a>
                                <h4>Cheese Boy</h4>
                              <p>
                                  <span>Google</span><span class="brows-job-sallery"><i class="fa fa-money"></i>$810 - 900</span>
                                  <span class="job-type bg-trans-warning cl-warning">Part Time</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                          <div class="brows-job-location">
                              <p><i class="fa fa-map-marker"></i>RANDBURG, C40</p>
                          </div>
                      </div>
                    
                  </div>
              </article>
          </div>
          
          <div class="item-click">
              <article>
                  <div class="brows-job-list">
                      <div class="col-md-1 col-sm-2 small-padding">
                          <div class="brows-job-company-img">
                              <a href="job-detail.html"><img src="assets/img/icon-5.png" class="img-responsive" alt="" /></a>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-5">
                          <div class="brows-job-position">
                              <a href="job-apply-detail.html"><h3>TILING</h3></a>
                                <h4>Masakona Suave</h4>
                              <p>
                                  <span>Google</span><span class="brows-job-sallery"><i class="fa fa-money"></i>$810 - 900</span>
                                  <span class="job-type bg-trans-warning cl-warning">Part Time</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3">
                          <div class="brows-job-location">
                              <p><i class="fa fa-map-marker"></i>Johannesburg, C40</p>
                          </div>
                      </div>
                      
                  </div>
              </article>
          </div>
           
          
       
          
      </div>
  </section>